/*body*/
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

h2{
    background-color: rgb(67, 114, 241);
    height: 40px;
    color: white;
    font-size: 1.6em;
    z-index: 1;
    padding: 4px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

h3{
    color: rgb(67, 114, 241);
    
}

/*CSS per SmartPhone*/
@media screen and (min-width:320px){

    .navigation-bar{
        text-align: center;
        font-family: monospace;
    }

    .navigation-bar ul{
        background: black;
    }
    
    .navigation-bar ul li a{
        color: white;
        text-decoration: none;
    }

    /*Rule che seleziona tutti gli elementi <li> del sub-menu*/
    .navigation-bar ul li ul li{
        display: inline-block;
    }

    .navigation-bar ul li ul{
        background: red;
    }
   
    


    /* join container*/
    #join-container{
        position: relative;
    }

    /*paragraph inside container*/
    #intro {
        position: absolute;
        bottom: 10%;
        left:10%;
        width:80%;
        display: block;
        font-size: 1em;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding:10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #join-container img{
        display: block;
        width: 100%;
    }
   

    /*news*/



    #news-container{
        position: relative;
        height: 300px;
        margin: 10px;
    }

   #news-container article{
    position: absolute;
    padding: 0 10px ;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    
    }

    #news-container article:nth-child(2)
    {
        position: absolute;
        left:100%;

    }

    #news-container article:nth-child(3){
        position: absolute;
        left:200%;

    }

    #articles-container{
        position: relative; /*to set a h2 title in absolute position inside it*/
        height: 300px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;

    }
    

    /*scroll news buttons*/

    #scroll-container{
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 40px;
        transform: translate(-50%, 0);
        text-align: center;
        z-index: 1;
    }

    #scroll-left,
    #scroll-right{
        color: rgb(255, 255, 255);
        font-size: 30px;
        cursor: grab;
    }

    #scroll-left{
       float: left;
    }

    #scroll-right{
        float: right;
    }


    /*About Container */

    #about-container{
        position: relative;
        background-color: black;
    }

    #about-container div img{
        max-width: 60px; 
    }

    #about-container div:nth-child(1){
        width: 100%;
        text-align: center;
    }

    #about-container div:nth-child(2), 
    #about-container div:nth-child(3){
        float: left;
        text-align: center;
        width: 50%; 
    }

    #fix-float-height{
        clear: both;
    }










    
















































   
}